*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: black;
	color: white;
	background: url(./images/background.png);
	background-size: cover;
	background-position: 0 -20px;
}

#nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	margin: 40px 40px 20px;
	padding: 0px 20px 0 10px;
}
#nav .logo{
	width: 200px;
	height: 100%;
	float: left;	
}

#nav .logo img{
	width: 100%;
	object-fit: fill;
}

li{
	display: inline-block;
}
.nav li a:hover{
	background-color: bisque;
    opacity: 2px;
}

.logo {
    width: 100px;
    float: left;
	margin-left: 50px;
}

#nav li a {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
    line-height: 150px;
    padding: 0 50px;
    display: inline-block;
    font-size: 20px;
    transition: 0.25s;
	font-size: 30px;
	font-weight: bold;
}
.navigation{
	display: flex;
	align-items: center;
	width: 100%;
}
#nav li{
	padding-top: 20px;
}
.input{
	width: 100%;
}
i{
	position: absolute;
	color: black;
	font-size: 30px;
	line-height: 30px;
	margin: 35px 0 0 -585px;
}
#nav input{
	width: 70%;
	height: 60px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: white;
	position: relative;
}

#nav input{
	margin-left: 20px;
	outline: none;
	border: none;
}

#left {
	width: 50%;
	height: calc(100vh - 250px);
	float: left;
}

#left .image{
	width: 400px;
	height: 400px;
	background: url(./images/Shape_8.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
}

#left .image .people {
	width: 370px;
	height: 370px;
	background: url(./images/PlaceYourImageHereDo.png);
	background-size: cover;
	border-radius: 50%;
}

#right {
	width: 40%;
	height: calc(100vh - 250px);
	float: left;
}

.content{
	width: 100%;
	justify-content: right;
	align-items: center;
}

.infor{
	width: 100%;
	margin-top: 00px;
}

#right h1{
	font-size: 85px;
	display: flex;
	justify-self: right;
	margin-left: 80px;
	margin-bottom: 30px;
}

p{
	font-size: 80px;
}

#right p{
	word-wrap: break-word;
}

.contact{
	width: 50%;
	margin-left: 400px;
}

.contact button{
	
	border-radius: 30px;
	padding: 15px 50px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-weight: bold;
}
.contact button:hover{
	background-color: bisque;
    opacity: 2px;
}

.icon-insta{
	width: 40px;
	height: 40px;
	background: url(./images/Instagram.png);
	background-size: cover;
	border-radius: 50%;
	margin: 3px;
}
.icon-insta:hover{
	background-color: bisque;
    opacity: 2px;
}

.icon-fb{
	width: 40px;
	height: 40px;
	background: url(./images/Facebook.png);
	background-size: cover;
	border-radius: 50%;
	margin: 3px;
}
.icon-fb:hover{
	background-color: bisque;
    opacity: 2px;
}
.icon-twiter{
	width: 40px;
	height: 40px;
	background: url(./images/Twitter.png);
	background-size: cover;
	border-radius: 50%;
	margin: 3px;
}
.icon-twiter:hover{
	background-color: bisque;
    opacity: 2px;
}
.icon-whats{
	width: 40px;
	height: 40px;
	background: url(./images/WhatsApp.png);
	background-size: cover;
	border-radius: 50%;
	margin: 3px;
}
.icon-whats:hover{
	background-color: bisque;
    opacity: 2px;
}

.container{
	margin-top: 50px;
	padding-top: 50px
}